
<div class="container">
    <div class="left col-sm-12 col-md-5">
       <%= image_tag("photo.png", :class=>"pho")%>
    </div>
   <div class="right col-sm-12 col-md-7">
       <div class="info">
          <h3><strong> Мукашева Куралай</strong></h3> 
          <h4>Учитель <strong>Биологии</strong></h4>
          <h4>Назарбаев Интеллектуальная школа <strong>г.Усть-Каменогорска</strong></h4>
          <h4>Стаж работы в НИШ: <strong>5.8 лет</strong></h4>
          <h4>Уровень педагогического мастерства: <strong>Модератор</strong></h4>
          <h4>Дата прохождения аттестации: <strong>Февраль, 2012</strong></h4>
          <h4>Результат IELTS: <strong>5.5</strong></h4>
          <h4>Уровень владения Казахским языком: <strong>Выше среднего</strong></h4>
          <h4>Уровень владения ИКТ: <strong>Высокий</strong></h4>
       </div>
        
       
   </div> 
    <div class="knowledge col-xs-12">
           <%= image_tag("ielts.jpeg", :class=>"col-xs-12 col-md-3")%>
           <%= image_tag("kaztest.jpeg", :class=>"col-xs-12 col-md-3")%>
           <%= image_tag("attachment.jpeg", :class=>"col-xs-12 col-md-3")%>
           <%= image_tag("2dgr.jpeg", :class=>"col-xs-12 col-md-3")%>
           <%= image_tag("3dgr.jpeg", :class=>"col-xs-12 col-md-3")%>
           
       </div>   
        
</div>
